@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS AL SISTEMA DE GESTION DE TRANSITO Y TRANSPORTE</h1>
    <img src="https://img.freepik.com/vector-gratis/ilustracion-personaje-personas-iconos-senales-trafico_53876-43026.jpg?size=626&ext=jpg"
        alt="transito" />
    
</div>
